{{- define "main" -}}

{{ $image_source_th := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "Th" .Params.photo.image_base "Th") }}
{{ $image_source_s := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "S" .Params.photo.image_base "S") }}
{{ $image_source_m := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "M" .Params.photo.image_base "M") }}
{{ $image_source_l := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "L" .Params.photo.image_base "L") }}
{{ $image_source_xl := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "XL" .Params.photo.image_base "XL") }}
{{ $image_source_x1 := $image_source_xl }}
{{ $image_source_x2 := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "X2" .Params.photo.image_base "X2") }}
{{ $image_source_x3 := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "X3" .Params.photo.image_base "X3") }}
{{ $image_source_x4 := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "X4" .Params.photo.image_base "X4") }}
{{ $image_source_x5 := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "X5" .Params.photo.image_base "X5") }}
{{ $image_source_4k := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "4k" .Params.photo.image_base "4k") }}
{{ $image_source_5k := (printf "%s/%s/%s/%s/%s-%s.jpg" .Params.photo.gallery .Params.photo.image_key .Params.photo.version "5k" .Params.photo.image_base "5k") }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    <div class="article-style" itemprop="articleBody">

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="img-fluid page-photo-container">
              <a data-fancybox="images" data-srcset="
                {{ $image_source_x5 }} 2560w,
                {{ $image_source_x4 }} 2048w,
                {{ $image_source_x3 }} 1600w,
                {{ $image_source_x2 }} 1280w,
                {{ $image_source_x1 }} 1024w,
                {{ $image_source_l }} 800w,
                {{ $image_source_m }} 600w,
                {{ $image_source_s }} 400w,
                {{ $image_source_th }} 150w"
                href="javascript:;">
                <img src="{{ $image_source_x1 }}">
              </a>
            </div>
            <div class="page-photo-author">
              russell j. hewett | rjh.io
            </div>
          </div>
        </div>
      </div>

      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}

    {{ if ne .Type "page" }}
      {{ partial "page_author.html" . }}
      {{ $related := site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <div class="article-widget">
        <div class="hr-light"></div>
        <h3>{{ i18n "related" }}</h3>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    {{ end }}

    {{ if site.Params.section_pager }}
    <div class="article-widget">
      {{ partial "section_pager.html" . }}
    </div>
    {{ end }}

    {{ partial "comments.html" . }}

  </div>
</article>

{{- end -}}
