{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
  {{ if ne $columns "1" }}
    <div class="col-12 col-lg-4">
      <div class="section-heading academic-widget-two-column">
        {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
        {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
    </div>
    <div class="col-12 col-lg-8">

  {{ else }}
    <div class="col-lg-12">
      <div class="section-heading academic-widget-one-column">
        {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
        {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
  {{ end }}
        <div class="map-container-widget">
          <iframe allowfullscreen frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="{{ $st.Params.map.title }}" src="{{ $st.Params.map.inline_source }}"></iframe>
        </div>
        <div class="map-container-nav">
          {{if $st.Params.map.lightbox_source }}
          <div class="map-container-lightbox text-center">
            {{ if $st.Params.map.lightbox_button_tex }}
              <a role="button" class="btn btn-outline-primary btn-lg" data-fancybox data-type="iframe" data-src="https://www.arcgis.com/apps/View/index.html?appid=f621cf0b221b432d811f7462f0b22678" href="javascript:;">{{ $st.Params.map.lightbox_button_tex }}</a>
            {{ end }}
          </div>
          {{ end }}
        </div>
    </div>
    {{ $st.Content }}
</div>

