{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
  {{ if ne $columns "1" }}
    <div class="col-12 col-lg-4 section-heading academic-two-column">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    </div>
    <div class="col-12 col-lg-8">

  {{ else }}
    <div class="col-lg-12">
      <div class="section-heading academic-one-column">
        {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
        {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
  {{ end }}
        <div class="map-container-widget">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="National Geographic Map-Park Visits" src="//www.arcgis.com/apps/Embed/index.html?webmap=12e3b9ea23da4ce9a6a24b4a6306555a&amp;extent=-128.4971,22.6261,-63.5898,52.2627&amp;zoom=true&amp;previewImage=false&amp;scale=true&amp;basemap_gallery=true&amp;disable_scroll=false&amp;theme=light"></iframe>
        </div>
    </div>
</div>
