<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">

{{ partial "site_head.html" . }}

<body id="top" data-spy="scroll" data-target="{{ if or .IsHome (eq .Type "widget_page") }}#navbar-main{{else}}#TableOfContents{{end}}" data-offset="71" {{ if not (.Scratch.Get "light") }}class="dark"{{end}}>

  {{ partial "search" . }}

  {{ partial "header_image.html" . }}

  <div class="container main-container">

    <div class="row no-gutters sticky-top">
      <div class="col-10 d-block col-sm-12 d-lg-none">
        <div class="author-top-wrapper">
          {{ partial "author_block.html" . }}
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-3 sidebar-width">
        <!-- Filler block -->
      </div>
      <div class="col-2 order-first order-sm-last col-sm-12 col-md">
        <div class="nav-wrapper">
          {{ partial "navbar.html" . }}
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="d-none d-lg-block col-lg-3 sidebar-width">
        <div class="sidebar sticky-top" itemprop="author" itemscope itemtype="http://schema.org/Person">
          {{ partial "sidebar.html" . }}
        </div>
      </div>
      <div class="col-12 d-lg-block col-lg-9">
        <div class="main-wrapper">
          <article class="page">
            <div class="page_container">
              <section class="page_content">
                {{ block "main" . }}{{ end }}
              </section>
            </div>
          </article>
        </div>
      </div>
    </div>

  </div>

  {{ partial "site_js.html" . }}

  <div class="container">
    {{ partial "site_footer.html" . }}
  </div>

  {{ partial "citation.html" . }}

</body>

</html>