.sticky-top {
  top: 5px;
}

body{
  margin-top: 0px;
  min-width:375px;
  line-height: 1.5;
}

html {
  font-size: 19px;
}

.hero {
  position: relative;

  clear: both;

  height: 350px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar-width{
  min-width: 205px;
  max-width: 250px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  /*font-weight: bold;*/
  line-height: 1.25;

  /*margin: 2em 0 .5em;*/
}
h1 {
  font-size: 1.563em;

  margin-top: 0;
}
h1 a {
  text-decoration: none;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: .75em;
}
h5 {
  font-size: .75em;
}
h6 {
  font-size: .75em;
}
small, .small {
  font-size: .75em;
}
p {
  margin-bottom: 1.3em;
}


/* Extra small devices (landscape phones, under 576px) */
    .header-image-wrapper {
      /* Header image size - main container offset. */
      top: calc(-350px + 75px + 5px);
    }

    .main-container {
      position: relative;
      top: -75px; /* Due to author-top-wrapper */
      padding: 0px;
    }

    .nav-wrapper{
      position: relative;
      width: 100vw;
    }

    .navbar {
      color: #fff;
      padding: 0px;
      /* Flush the navbar to the bottom of the wrapper.*/
      box-shadow: none;
      background: none;
      position: relative;
      /*position: static;*/
      /*bottom: 0;*/
      min-height: 0px;
    }

    .navbar-toggler{
      height: 75px;
    }

    .show{
      position: relative;
      top: 0px;
      padding-right: 100vw;
    }

    .navbar-collapse{
      background-color: dimgrey;
    }

    .navbar-light .navbar-nav>.nav-item>.nav-link,
    .navbar-light .navbar-nav>.nav-item>.nav-link a,
    .navbar-light .navbar-nav>.nav-item>.nav-link a:active,
    .navbar-light .navbar-nav>.nav-item>.nav-link a:hover,
    .navbar-light .navbar-nav>.nav-item>.nav-link a:visited{
      font-family: 'Chakra Petch', sans-serif;
      font-size: 1.35rem;
      padding-left: 0.5rem;
      font-weight: 400;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: inherit;
    }

    .navbar-light .navbar-nav>li.nav-item>a.active,
    .navbar-light .navbar-nav>li.nav-item>a.active:focus,
    .navbar-light .navbar-nav>li.nav-item>a.active:hover {
      font-family: 'Chakra Petch', sans-serif;
      font-size: 1.35rem;
      font-weight: 400;
      color: white;
    }

    .nav-separator{
      display: none;
    }

    .nav-hamburger {
      font-size: 2.0rem;
      color: white;
    }

    .author-top-wrapper{
      height: 75px; /* contributes to main container shift */
      display: flex;
    }

    .author-avatar {
      width: 75px;
      height: 75px;
      vertical-align: middle;
    }

    .author-avatar img {
      max-width: 70px;
      border-radius: 50%;
    }

    .author-content {
      padding-left: 15px;
      vertical-align: middle;
      color: white;
    }

    .author-content>h3 {
      font-weight: 400;
      color: inherit;
    }

    .author-content a {
      color: inherit;
    }

    .author-name {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
    }

    .author-bio {
      font-family: 'Chakra Petch', sans-serif;
      margin: 0;
      font-size: 0.9rem;
    }

    .main-wrapper{
      background-color: white;
      padding-left: 15px;
    }

/* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    body{
      background-color: white;
    }

    .header-image-wrapper {
      /* Header image size - main container offset. */
      top: calc(-350px + 117px + 5px);
    }

    .main-container {
      top: -117px;  /* Due to author-top-wrapper and nav-wrapper (75px +  (32px + 5px + 5px) */
    }

    .author-top-wrapper{
      /*background-color: magenta;*/
      margin-left: 1.0rem;
    }

    .nav-wrapper{
      /*margin-left: 1.0rem;*/
      width: initial;
      /*padding-bottom: 6px;*/
    }

    .navbar-collapse{
      background-color: transparent;
    }

    .navbar-toggler{
      margin-left: 7px;
    }

    .nav-separator{
      display: initial;
      /*padding-left: 15px;*/
      padding-right: 5px;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {

    .header-image-wrapper {
      /* Header image size - main container offset. */
      top: calc(-350px + 42px + 5px);
    }

    .main-container {
      top: -42px;   /* Due to nav-wrapper (32px + 10px) */
    }

    .nav-wrapper{
      /*margin-left: 15px;*/
      /*padding-bottom: 6px;*/
    }


    .sidebar {
      margin-left: 15px;
      margin-top: -42px;
    }

    .author-avatar {
      width: 115px;
      height: 115px;
    }

    .author-avatar img {
      max-width: 110px;
      border-radius: 50%;
    }

    .author-content {
      padding-left: 0;
      color: black;
    }

    .author-content a {
    }

    .author-name {
      font-size: 1.35rem;
    }

    .author-bio {
      font-size: 0.8rem;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    .author-name {
      font-size: 1.5rem;
    }

    .author-bio {
      font-size: 0.9rem;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .class-name {font-size: 48px;}
  }

      /* Flush the navbar to the bottom of the wrapper.*/
      /*position: absolute;*/
      /*bottom: 0;*/



.author-urls-wrapper {
  font-family: "Open Sans";

  position: relative;
  position: relative;
  z-index: 10;

  display: table-cell;

  cursor: pointer;
  vertical-align: middle;
}
.author-urls-wrapper li:last-child a {
  margin-bottom: 0;
}
@media (min-width: 64em) {
  .author-urls-wrapper {
    display: block;
  }
}
.author-urls-wrapper button {
  margin-bottom: 0;
}
@media (min-width: 64em) {
  .author-urls-wrapper button {
    display: none;
  }
}
.author-urls {
  position: absolute;
  z-index: -1;
  right: 0;

  display: none;

  margin-top: 15px;
  padding: 10px;

  list-style-type: none;
}
.author-urls.is--visible {
  display: block;
}
@media (min-width: 64em) {
  .author-urls {
    position: relative;

    display: block;

    margin: 0;
    padding: 0;

    border: 0;
    background: transparent;
    box-shadow: none;
  }
}
.author-urls:before {
  position: absolute;
  z-index: 0;
  top: -11px;
  left: calc(50% - 10px);

  display: block;

  width: 0;

  content: "";

  border-width: 0 10px 10px;
  border-style: solid;
}
@media (min-width: 64em) {
  .author-urls:before {
    display: none;
  }
}
.author-urls:after {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: calc(50% - 10px);

  display: block;

  width: 0;

  content: "";

  border-width: 0 10px 10px;
  border-style: solid;
  border-color: #fff transparent;
}
@media (min-width: 64em) {
  .author-urls:after {
    display: none;
  }
}
.author-urls li {
  white-space: nowrap;
}
.author-urls a {
  font-size: 1em;

  display: block;

  margin-bottom: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
}