.nav-link,
.nav-link a, 
.nav-link a:active, 
.nav-link a:hover, 
.nav-link a:visited{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.25rem;
  padding-left: 0.5rem;
  font-weight: 400!important;
}

.navbar {
  /*position: sticky;*/
  position: relative;
  min-height: 50px!important;
  height: 50px;
  box-shadow: none;
  background: none!important;
  /*background-color: #2b2b2b!important;*/
  color: white;
  top: -50px; 
}

.main-container {
  position: relative;
  width:100%;
  max-width: 100%;
  /* Due to author-top-wrapper */
  padding: 0px;
}

/* Extra small devices (landscape phones, under 576px) */

/* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }


.hero {
  position: relative;

  clear: both;

  height: 350px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  margin-top: 0px;
}

@media screen and (max-width: 1200px) { /* Match max-width of .nav-bar query. */
  body {
    margin-top: 0px;
  }
}
