.sticky-top {
  top: 5px;
}

body{
  margin-top: 0px;
  min-width: 375px;
  line-height: 1.5;
}

html {
  font-size: 19px;
}

.hero {
  position: relative;

  clear: both;

  height: 350px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar-width{
  min-width: 205px;
  max-width: 250px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  /*font-weight: bold;*/
  line-height: 1.25;

  /*margin: 2em 0 .5em;*/
}
h1 {
  font-size: 1.563em;

  margin-top: 0;
}
h1 a {
  text-decoration: none;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: .75em;
}
h5 {
  font-size: .75em;
}
h6 {
  font-size: .75em;
}
small, .small {
  font-size: .75em;
}
p {
  margin-bottom: 1.3em;
}


/* Extra small devices (landscape phones, under 576px) */
    .header-image-wrapper {
      /* Header image size - main container offset. */
      top: calc(-350px + 75px + 5px);
    }

    .main-container {
      position: relative;
      top: -75px; /* Due to author-top-wrapper */
      padding: 0px;
    }

    .nav-wrapper{
      position: relative;
    }

    .navbar {
      color: #fff;
      padding: 0px;
      /* Flush the navbar to the bottom of the wrapper.*/
      box-shadow: none;
      background: none;
      position: relative;
      /*position: static;*/
      /*bottom: 0;*/
      min-height: 0px;
    }

    .navbar-toggler{
      height: 75px;
    }

    .show ul{
      position: relative;
      top: 0px;
      width: 100vw;
    }

    .navbar-collapse{
      background-color: dimgrey;
    }

    .navbar-light .navbar-nav>.nav-item>.nav-link,
    .navbar-light .navbar-nav>.nav-item>.nav-link,
    .navbar-light .navbar-nav>.nav-item>.nav-link:active,
    .navbar-light .navbar-nav>.nav-item>.nav-link:hover,
    .navbar-light .navbar-nav>.nav-item>.nav-link:visited{
      font-family: 'Chakra Petch', sans-serif;
      font-size: 1.35rem;
      padding-left: 0.5rem;
      font-weight: 400;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: inherit;
    }

    .navbar-light .navbar-nav>li.nav-item>a.active,
    .navbar-light .navbar-nav>li.nav-item>a.active:focus,
    .navbar-light .navbar-nav>li.nav-item>a.active:hover {
      font-family: 'Chakra Petch', sans-serif;
      font-size: 1.35rem;
      font-weight: 400;
      color: white;
    }

    .nav-separator{
      display: none;
    }

    .nav-hamburger {
      font-size: 2.0rem;
      color: white;
    }

    .author-top-wrapper{
      height: 75px; /* contributes to main container shift */
      display: flex;
    }

    .author-avatar {
      width: 75px;
      height: 75px;
      vertical-align: middle;
    }

    .author-avatar img {
      max-width: 70px;
      border-radius: 50%;
    }

    .author-content {
      padding-left: 15px;
      vertical-align: middle;
      color: white;
    }

    .author-content>h3 {
      font-weight: 400;
      color: inherit;
      font-size: 1.65rem;
    }

    .author-content a {
      color: inherit;
    }

    .author-name {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
    }

    .author-bio {
      font-family: 'Chakra Petch', sans-serif;
      margin: 0;
      font-size: 1.0rem;
    }

    .author-location {
      font-family: 'Chakra Petch', sans-serif;
      margin: 0;
      font-size: 1.0rem;
      display: none;
    }

    .main-wrapper{
      background-color: white;
      /*padding-left: 15px;*/
    }

/* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    body{
      background-color: white;
    }

    .header-image-wrapper {
      /* Header image size - main container offset. */
      top: calc(-350px + 117px + 5px);
    }

    .main-container {
      top: -117px;  /* Due to author-top-wrapper and nav-wrapper (75px +  (32px + 5px + 5px) */
    }

    .author-top-wrapper{
      /*background-color: magenta;*/
      margin-left: 1.0rem;
    }

    .nav-wrapper{
      /*margin-left: 1.0rem;*/
      width: initial;
      /*padding-bottom: 6px;*/
    }

    .navbar-collapse{
      background-color: transparent;
    }

    .navbar-toggler{
      margin-left: 7px;
    }

    .nav-separator{
      display: initial;
      /*padding-left: 15px;*/
      padding-right: 5px;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    .header-image-wrapper {
      /* Header image size - main container offset. */
      top: calc(-350px + 42px + 5px);
    }

    .main-container {
      top: -42px;   /* Due to nav-wrapper (32px + 10px) */
    }


    .sidebar {
      margin-left: 15px;
      margin-top: -42px;
    }

    .author-name {
      font-size: 1.5rem;
    }

    .author-bio {
      font-size: 1.0rem;
    }

    .author-location {
      display: block;
    }

    .author-avatar {
      width: 100%;
      height: 115px;
    }

    .author-avatar img {
      max-width: 110px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .author-content {
      padding-left: 0;
      color: black;
      text-align: center;
    }

    .author-content a {
    }

    .author-name {
      font-size: 1.35rem;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .class-name {font-size: 48px;}
  }

      /* Flush the navbar to the bottom of the wrapper.*/
      /*position: absolute;*/
      /*bottom: 0;*/



.author-urls-wrapper {
  font-family: "Open Sans";

  position: relative;
  position: relative;
  z-index: 10;

  display: table-cell;

  cursor: pointer;
  vertical-align: middle;

  margin-top: 15px;
}

.author-urls-wrapper li:last-child a {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .author-urls-wrapper {
    display: block;
  }
}

.author-urls-wrapper button {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .author-urls-wrapper button {
    display: none;
  }
}

.author-urls {
  position: absolute;
  z-index: -1;
  right: 0;

  display: none;

  margin-top: 15px;
  padding: 10px;

  list-style-type: none;
}

.author-urls.is--visible {
  display: block;
}

@media (min-width: 992px) {
  .author-urls {
    position: relative;

    display: block;

    margin: 0;
    padding: 0;

    border: 0;
    background: transparent;
    box-shadow: none;
  }
}

.author-urls:before {
  position: absolute;
  z-index: 0;
  top: -11px;
  left: calc(50% - 10px);

  display: block;

  width: 0;

  content: "";

  border-width: 0 10px 10px;
  border-style: solid;
}
@media (min-width: 992px) {
  .author-urls:before {
    display: none;
  }
}
.author-urls:after {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: calc(50% - 10px);

  display: block;

  width: 0;

  content: "";

  border-width: 0 10px 10px;
  border-style: solid;
  border-color: #fff transparent;
}
@media (min-width: 992px) {
  .author-urls:after {
    display: none;
  }
}
.author-urls li {
  white-space: nowrap;
}
.author-urls a {
  font-size: 1em;

  display: block;

  margin-bottom: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
}



.section-heading.academic-widget-one-column{
  text-align: center;
}

.portrait {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

#profile {
  padding: 10px;
}

.bio-icons {
  text-align: center;
  width: 100%;
}




.page-photo-container a[data-fancybox] img{
  height: unset;
  max-width: 100%;
  max-height: 70vh;
  /*background-color: #1D1D1D;*/
  padding: 15px;
  padding: 0px;
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.page-photo-author{
  color: white;
  text-align: center;
  position: relative;
  top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 10px;
}

.fancybox-bg,
.fancybox-is-open .fancybox-bg{
  opacity: 1;
  background: #202020;
}


.photo-card-preview-container a img{
  max-height: 400px;
  max-width: 100%;
  background-color: #1D1D1D;
  padding: 10px;
  padding: 0px;
  /*box-shadow: 0px 0px 6px 3px rgba(0,0,0,.5);*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

/* Turn off border and set shadow spread to 3px to achieve older soft look*/
.photo-border-light a[data-fancybox] img,
.photo-border-light a img{
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,.3);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 0px;
}

.photo-border-dark  a[data-fancybox] img,
.photo-border-dark  a img,
.map-container-widget{
  background-color: #000000;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,.5);
  border: 2px solid rgba(0,0,0,0);
  border-radius: 1px;
}

.photo-card-preview-container {
  max-height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-card-preview-author{
  display: none;
  color: white;
  position: relative;
  top: -20px;
  left: 11px;
  font-size: 6px;
  margin-left: auto;
  margin-right: auto;
}

.universal-wrapper {
  width: inherit;
}


.card-simple {
  padding-left: 20px;
  padding-right: 20px;
}

.photo-page-buttons {
  margin-bottom: 15px;
}


.article-style p a {
  text-decoration: underline;
}

ul.ul-edu li{
  padding-right: 0;
}

.split-header-image {
  height: 100%;
}

.split-header-image img {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-fluid.publication-feature-img img{
  max-height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

figure.img-fluid a[data-fancybox] img{
  height: unset;
  max-width: 100%;
  max-height: 70vh;
}

.image-gallery{
  margin-bottom: 20px;
}

.image-gallery figure{
  display: inline;
}


.image-gallery figure img{
  display: inline;
  max-height: 250px;
  max-width: 250px;
  max-width: 32%;
}