.map-container-widget {
  position: unset;
  padding-left: 10px;
  max-width: 100%;
  width: 100%;
  /* maintains golden ratio of iframe height to width*/
  padding-bottom: 61%;
}

.map-container-widget iframe{
  position: absolute;
  top: 50px;
  left: 15px;
  width: 100%;
  /* 15px of padding on both sides of the iframe */
  width: calc(100% - 30px);
  display: block;
  /* 5px for top of section, 37 for heading text, 10 for bottom of section*/
  height: calc(100% - 5px - 37px - 10px)
}

.map-container-widget-two-column iframe{
  /* 5px for top of section, 37 for heading text, 10 for bottom of section*/
  top: 0px;
  height: 100%;
}