.map-container-widget {
  position: relative;
  max-width: 100%;
  width: 100%;
  /* maintains golden ratio of iframe height to width*/
  padding-bottom: 61%;
}

.map-container-widget iframe{
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.map-container-nav{
  padding-top: 10px;
}
