{{ $page_path := "" }}
{{ if .IsHome }}
  {{ $page_path = "/home" }}
{{ else }}
  {{ $page_path = .File.Path }}
{{ end }}
{{ $page := site.GetPage $page_path }}

{{ $image := site.Params.sidebar.image }}
{{ if $page.Params.sidebar.image }}
{{ 	 $image = $page.Params.sidebar.image }}
{{ else if $page.Parent }}
  {{if $page.Parent.Params.sidebar.image }}
    {{ $image = $page.Parent.Params.sidebar.image }}
  {{ end }}
{{ end }}

{{ $text := site.Params.sidebar.text }}
{{ if $page.Params.sidebar.text }}
{{ 	 $text = $page.Params.sidebar.text }}
{{ else if $page.Parent }}
  {{if $page.Parent.Params.sidebar.text }}
    {{ $text = $page.Parent.Params.sidebar.text }}
  {{ end }}
{{ end }}


{{ $subtext1 := site.Params.sidebar.subtext1 }}
{{ if $page.Params.sidebar.subtext1 }}
{{ 	 $subtext1 = $page.Params.sidebar.subtext1 }}
{{ else if $page.Parent }}
  {{if $page.Parent.Params.sidebar.subtext1 }}
    {{ $subtext1 = $page.Parent.Params.sidebar.subtext1 }}
  {{ end }}
{{ end }}

{{ $subtext2 := site.Params.sidebar.subtext2 }}
{{ if $page.Params.sidebar.subtext2 }}
{{ 	 $subtext2 = $page.Params.sidebar.subtext2 }}
{{ else if $page.Parent }}
  {{if $page.Parent.Params.sidebar.subtext2 }}
    {{ $subtext2 = $page.Parent.Params.sidebar.subtext2 }}
  {{ end }}
{{ end }}

<div class="author-avatar">
  <a href="{{ "/" | relURL }}">
    <img src="{{ $image | absURL }}" alt="{{ $text }}" itemprop="image">
  </a>
</div>
<div class="author-content">
  <h3 class="author-name" itemprop="name">{{ $text }}</h3>
  <p class="author-bio" itemprop="description">{{ $subtext1 }}</p>
  <p class="author-location" itemprop="name">{{ $subtext2 }}</p>
</div>
