{{/* Get widget page */}}
{{ $page_path := "" }}
{{ if .IsHome }}
  {{ $page_path = "/home" }}
{{ else }}
  {{ $page_path = .File.Path }}
{{ end }}
{{ $page := site.GetPage $page_path }}

{{ $header_image := site.Params.header_image }}
{{ if $page.Params.header_image }}
  {{ $header_image = $page.Params.header_image }}
{{ else if $page.Parent }}
  {{if $page.Parent.Params.header_image }}
    {{ $header_image = $page.Parent.Params.header_image }}
  {{ end }}
{{ end }}


  <div class="header-image-wrapper sticky-top">
    <div class="row no-gutters">
      <div class="col">
        <style type="text/css">
        .hero {
          background-image: url("{{ $header_image }}");
        }
        </style>

        <div class="hero">
        </div>
      </div>
    </div>
  </div>

