{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
  {{ $microdata_type = "BlogPosting" }}
{{ else if eq $item.Type "talk" }}
  {{ $microdata_type = "Event" }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
  {{ $microdata_type = "ScholarlyArticle" }}
  {{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
  {{ $summary = $item.Summary }}
{{ else }}
  {{ $summary = $item.Content }}
{{ end }}

{{/* Get author info */}}
{{ $author_urlized := "" }}
{{ if and (not .Params.authors) (.Scratch.Get "superuser_username") }}
  {{ $author_urlized = (.Scratch.Get "superuser_username") }}
{{ else }}
  {{ $first_author := "" }}
  {{ if .Params.authors }}
    {{ $first_author = index .Params.authors 0 }}
  {{ end }}
  {{ $author_urlized = urlize $first_author }}
{{ end }}
{{ $taxonomy := "authors" }}
{{ $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $author_urlized) }}
{{ $author := $profile_page.Params.name }}

<div class="card-simple" itemscope itemtype="http://schema.org/{{$microdata_type}}">

  <h3 class="article-title mb-1 mt-3" itemprop="name">
    <a href="{{ $item.RelPermalink }}" itemprop="url">{{ $item.Title }}</a>
  </h3>

  {{ with $summary }}
  <div class="article-style" itemprop="articleBody">
    {{ . }}
  </div>
  {{ end }}

  {{ partial "functions/build_smugmug_url" (dict "context" . "photo" $item.Params.photo "size" $item.Params.photo.preview_size) }}
  {{ $scr := .Scratch }}
  {{ $image_url := $scr.Get "smugmug_url" }}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="img-fluid photo-card-preview-container">
        <a href="{{ $item.RelPermalink }}">
            <img src="{{ $image_url }}" class="photo-card-preview" itemprop="image" alt="">
        </a>
        </div>
        <div class="photo-card-preview-author">
          <span>
          {{ lower $author }} | {{ lower site.Title }}
          </span>
        </div>
      </div>
    </div>
  </div>

  {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}

  {{ if $show_buttons }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

</div>
