{{ $author_urlized := "" }}
{{ if and (not .Params.authors) (.Scratch.Get "superuser_username") }}
  {{ $author_urlized = (.Scratch.Get "superuser_username") }}
{{ else }}
  {{ $first_author := "" }}
  {{ if .Params.authors }}
    {{ $first_author = index .Params.authors 0 }}
  {{ end }}
  {{ $author_urlized = urlize $first_author }}
{{ end }}

{{ $taxonomy := "authors" }}
{{ $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $author_urlized) }}
{{ $author := $profile_page.Params.name }}

{{ $scr := .Scratch }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "L") }}
{{ $image_source_l := $scr.Get "smugmug_url" }}

{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "Th") }}
{{ $image_source_th := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "S") }}
{{ $image_source_s := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "M") }}
{{ $image_source_m := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "L") }}
{{ $image_source_l := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "XL") }}
{{ $image_source_xl := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "X2") }}
{{ $image_source_x2 := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "X3") }}
{{ $image_source_x3 := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "X4") }}
{{ $image_source_x4 := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "X5") }}
{{ $image_source_x5 := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "4k") }}
{{ $image_source_4k := $scr.Get "smugmug_url" }}
{{ partial "functions/build_smugmug_url" (dict "context" . "photo" .Params.photo "size" "5k") }}
{{ $image_source_5k := $scr.Get "smugmug_url" }}

{{ $image_source_x1 := $image_source_xl }}

{{ partial "functions/build_smugmug_lightbox_url" (dict "context" . "photo" .Params.photo ) }}
{{ $smugmug_lightbox_url := $scr.Get "smugmug_url" }}

{{ $border_class := "" }}
{{ if eq .Params.photo.render.border 1 }}{{ $border_class = "photo-border-light"}}{{ end }}
{{ if eq .Params.photo.render.border 2 }}{{ $border_class = "photo-border-dark"}}{{ end }}

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="img-fluid page-photo-container {{ $border_class }}">
              <a data-fancybox="images" data-srcset="
                {{ $image_source_x5 }} 2560w,
                {{ $image_source_x4 }} 2048w,
                {{ $image_source_x3 }} 1600w,
                {{ $image_source_x2 }} 1280w,
                {{ $image_source_x1 }} 1024w,
                {{ $image_source_l }} 800w,
                {{ $image_source_m }} 600w,
                {{ $image_source_s }} 400w,
                {{ $image_source_th }} 150w"
                href="javascript:;">
                <img src="{{ $image_source_x1 }}">
              </a>
            </div>
<!--             <div class="page-photo-author">
              {{ lower $author }} | {{ lower site.Title }}
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 center-text photo-page-buttons">
          <a role="button" class="btn btn-outline-primary btn-lg" data-fancybox="images-embiggen" data-srcset="
                {{ $image_source_x5 }} 2560w,
                {{ $image_source_x4 }} 2048w,
                {{ $image_source_x3 }} 1600w,
                {{ $image_source_x2 }} 1280w,
                {{ $image_source_x1 }} 1024w,
                {{ $image_source_l }} 800w,
                {{ $image_source_m }} 600w,
                {{ $image_source_s }} 400w,
                {{ $image_source_th }} 150w"
                href="javascript:;">Enhance!</a>
          <a role="button" class="btn btn-outline-primary btn-lg" href="{{ $smugmug_lightbox_url }}">View on Smugmug</a>
          </div>
        </div>
      </div>