{{ $page_path := "" }}
{{ if .IsHome }}
  {{ $page_path = "/home" }}
{{ else }}
  {{ $page_path = .File.Path }}
{{ end }}
{{ $page := site.GetPage $page_path }}

{{ $links := slice }}
{{ if $page.Params.sidebar.links }}
{{   $links = $page.Params.sidebar.links }}
{{ else if $page.Parent }}
  {{if $page.Parent.Params.sidebar.links }}
    {{ $links = $page.Parent.Params.sidebar.links }}
  {{ end }}
{{ end }}

  {{ partial "author_block.html" . }}
  <div class="author-urls-wrapper">
    <ul class="author-urls social-icons" aria-hidden="true">
      {{ range $i, $e := $links }}

        {{/* Set target for link. */}}
        {{ $.Scratch.Set "target" "" }}
        {{ if gt (len .url) 4 }}
          {{ if eq "http" (slicestr .url 0 4) }}
            {{ $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
        {{ end }}

      <li class="sidebar-item">
        <a class="sidebar-link" href="{{ .url | relLangURL }}" data-target="{{ .url }}" {{ ($.Scratch.Get "target") | safeHTMLAttr }}>
          {{ .Pre }}
          <span>{{ .name | safeHTML }}</span>
          {{ .Post }}
        </a>
      </li>
      {{ end }}
    </ul>  
  </div>
