{{ $page_path := "" }}
{{ if .IsHome }}
  {{ $page_path = "/home" }}
{{ else }}
  {{ $page_path = .File.Path }}
{{ end }}
{{ $page := site.GetPage $page_path }}

  {{ partial "author_block.html" . }}
  <div class="author-urls-wrapper">
    <ul class="author-urls social-icons" aria-hidden="true">
      {{ range $i, $e := $page.Params.sidebar.links}}
      <li>
        <a href="{{ .url | relLangURL }}" data-target="{{ .URL }}" {{ ($.Scratch.Get "target") | safeHTMLAttr }}>
          {{ .Pre }}
          <span>{{ .name | safeHTML }}</span>
          {{ .Post }}
        </a>
      </li>
      {{ end }}
    </ul>  
  </div>
